  body {
  background-color: transparent;
  font-family: 'Varela', sans-serif;
}

.botoncoc {
  position: relative;
  top: 200px;
  left: -360px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 0 20px;
  border: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font: normal normal bold 20px/40px "Baumans", Helvetica, sans-serif;
  color: black;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(221, 221, 221);
  -webkit-box-shadow: 0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) ;
  box-shadow: 0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) ;
  text-shadow: 0 1px 0 #FFFFFF ;
}

.botoncoc:hover {
  background: #FFFFFF;
}

.botoncoc:active {
  margin: 6px 0 0;
  background: rgb(221, 221, 221);
  -webkit-box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) ;
  box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) ;
}

.botoncoc:focus {
  background: rgb(221, 221, 221);
}

div.butn{
background-color:url("http://www.enbolivia.com/files/imagen_corporativa.jpg")
width:250px;
height:100px;
}
div.butn:active{
background-image:url("http://www.enbolivia.com/files/imagen_corporativa.jpg")
width:250px;
height:100px;
}

ul {
    margin-left:0 ;
    padding-left:8px 0 ;
    list-style-type:none ;
}

li {
    margin:250px 0;
}

a2 {
    color: #FFFFCC;
    position: relative;
    top: -5px;
    left: 0px;
    text-decoration: none;
    text-align:left;
    padding:200px ;
    background: url("http://fotos.subefotos.com/a9631d3c409930155e82c2af270b1491o.jpg") no-repeat;
    background-size: 400px 248px;
}

ul2 {
    margin-left: 0 ;
    padding-left:8px 0 ;
    list-style-type:none ;
}

li2 {
    margin:250px 0;
}

b {
    color: #FFFFCC;
    position: relative;
    top: 60px;
    left: 30px;
    text-decoration: none;
    text-align:left;
    padding:200px ;
    background: url("http://fotos.subefotos.com/217e599a8d8fdbb7786412775df8b048o.jpg") no-repeat;
    background-size: 400px 240px;
}

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 72px/normal "Passero One", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:hover {
  color: rgba(169,214,169,1);
  text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(21px, 9999px, 61px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 86px, 0);
  }
  10% {
    clip: rect(43px, 9999px, 63px, 0);
  }
  15% {
    clip: rect(17px, 9999px, 74px, 0);
  }
  20% {
    clip: rect(76px, 9999px, 67px, 0);
  }
  25% {
    clip: rect(37px, 9999px, 37px, 0);
  }
  30% {
    clip: rect(2px, 9999px, 22px, 0);
  }
  35% {
    clip: rect(50px, 9999px, 29px, 0);
  }
  40% {
    clip: rect(10px, 9999px, 52px, 0);
  }
  45% {
    clip: rect(59px, 9999px, 32px, 0);
  }
  50% {
    clip: rect(32px, 9999px, 52px, 0);
  }
  55% {
    clip: rect(84px, 9999px, 40px, 0);
  }
  60% {
    clip: rect(58px, 9999px, 52px, 0);
  }
  65% {
    clip: rect(28px, 9999px, 65px, 0);
  }
  70% {
    clip: rect(18px, 9999px, 20px, 0);
  }
  75% {
    clip: rect(39px, 9999px, 4px, 0);
  }
  80% {
    clip: rect(73px, 9999px, 78px, 0);
  }
  85% {
    clip: rect(74px, 9999px, 72px, 0);
  }
  90% {
    clip: rect(32px, 9999px, 76px, 0);
  }
  95% {
    clip: rect(36px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(72px, 9999px, 72px, 0);
  }
}

@charset "utf-8";
/* CSS Document */

body {
  width: 100%;
  height: 100%;
  color: #404040;
  font-family: "Helvetica Neue",Helvetica,"Liberation Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

html {
  width: 100%;
  height: 100%;
  background: url("http://www.kinkasischild.org/wp-content/uploads/2016/01/ClashofClans-e1451867518880.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
ul {
    margin-top: 0;
}
